<div style="max-width: 400px; margin: 0 auto">
    <h2>Ajouter à la liste :</h2>
    <form method="post" action="/task">
        <fieldset >
            <label for="tsk"></label>
            <input 
                type="text" 
                name="task" 
                id="task" 
                placeholder="Nouvelle tâche.." 
                autofocus 
                required
            >
            <br><br>
            <button type="submit" task="button">Ajouter</button>
        </fieldset>
    </form>
</div>


